/* --- EASYDROPDOWN METRO THEME --- */
.dropdown{
	float: left;
}

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	position: relative;
	width: 250px;
	cursor: pointer;
	font-weight: 200;
	background: none;
	border: 1px solid #64c1d1;
	margin-right: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dropdown.open{
	z-index: 2;
}


.dropdown:after{
	background: transparent;
	border-left: 1px solid #64c1d1;
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 35px;
}
.dropdown:hover,
.dropdown:hover::after{
	border-color: #1b191a;
}
.dropdown.focus:after{
	background: none;
}

/* CARAT */

.dropdown .carat{
	background: url('../images/svg-app/dropdown.svg') no-repeat center center;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 35px;
	width: 35px;
	z-index: 2;

	-webkit-transform-origin: 50%;
	-moz-transform-origin: 50%;
	-ms-transform-origin: 50%;
	transform-origin: 50%;
}


/*
.dropdown:hover .carat:after{
	border-top-color: #f4f4f4;
}

.dropdown.focus .carat{
	border-top-color: #f8f8f8;
}

.dropdown.focus .carat:after{
	border-top-color: #0180d1;
}
*/

.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */

.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1;
	padding: 10px;
	overflow: hidden;
	white-space: nowrap;
	color: #919290;
	font-family: 'Titillium Web', sans-serif;
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 35px;

	border-radius: 0 2px 2px 0;
	box-shadow: inset -55px 0 25px -20px #f8f8f8;
}

.dropdown:hover .selected::after{
	box-shadow: inset -55px 0 25px -20px #f4f4f4;
}

/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: -1px;
	background: #f8f8f8;
	overflow: hidden;
	opacity: 0;
}

.dropdown:hover div{
	background: #f4f4f4;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	position: absolute;
	opacity: 1;
	top: 38px;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;

	box-shadow: inset 0 -50px 30px -35px #f8f8f8;
}

.dropdown.scrollable:hover div::after{
	box-shadow: inset 0 -50px 30px -35px #f4f4f4;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
}

.dropdown.scrollable.open ul{
	overflow-y: hidden;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 10px;
	margin: 0;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	background:#64c1d1;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active{
	background: #64c1d1;
	color: #fff;
}