/*---------------------------------
TITRES & TEXTE
---------------------------------*/
h1 {
    border-bottom: 1px dashed #e1312c;
    border-top: 1px dashed #e1312c;
    color: #e1312c;
    font-family: 'Roboto', Sans-serif;
    font-size: 4rem;
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase;
}
h1 strong{
    font-size: 2.5rem;
    font-weight: inherit;
}
h2 {
    border-bottom: 1px dashed #e1312c;
    border-top: 1px dashed #e1312c;
    color: #e1312c;
    font-family: 'Roboto', Sans-serif;
    font-size: 4rem;
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    font-size: 3rem;
    font-weight: normal;
}
h4 {
    font-size: 5rem;
    font-weight: normal;
    line-height: 1;
}
h5 {
    color: #75736f;
	font-size: 3rem;
	font-weight: normal;
	margin: 0 0 20px;
	text-align: center;
}
h5 strong {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}
h6 {
    font-size: 2rem;
    font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6{
	line-height: 1;
}
h3,
h4,
h6 {
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    font-weight: inherit;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
pre {
    float: left;
    font-size: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}
strong {
	font-weight: 700;
}
/*------------------------------
PROFIL
--------------------------------*/
.cv h1,
.cv h2,
.cv h3 {
	border: none;
	font-family: 'Titillium Web', sans-serif;
    line-height: 1;
    margin: 0;
    text-align: left;
	width: 100%;
}
.cv h2 {
	color: #91B841;
	font-size: 2.5rem;
    font-weight: 400;
    margin-top: 6px;
}
.cv h2:first-child{
	margin-top: 0;
}
.cv h3,
.form h3{
	color: #1b191a;
	font-size: 2rem;
}
.form h3{
	margin-bottom: 40px;
	text-align: center;
}

/*---------------------------------
SPÉCIFS
---------------------------------*/
.page-template-page-content h3{
    background: none repeat scroll 0 0 #e1312c;
    clear: both;
    font-size: 2rem;
    line-height: 1.25;
    padding: 0 5px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.admin h4 {
    font-size: 6rem;
}

.home.page h1 {
    border: medium none;
	color: #1b191a;
	float: left;
	font-family: "Titillium Web",sans-serif;
	font-size: 2rem;
	line-height: 1.5;
	padding: 40px 0 0;
	text-align: left;
	text-transform: none;
	width: 100%;
}
.page-template-default .featured h2{
	border: none;
	font-size: 2rem;
	margin: 30px 0 10px;
	text-align: left;
}
#contact h2,
#selection h2 {
    margin-bottom: 0;
    margin-top: 0;
}
#selection-list h2 {
    margin-top: 0;
}
.historic #profil h2 {
    margin-bottom: 1rem;
}
.featured-inscription h3 {
  color: #3b3b3b;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.page-id-430 .featured-inscription h3{
	text-align: left;
}
.selection h5 {
    font-size: 3rem;
}
.formulaire > p{
	margin: 20px 0 40px;
	text-align: center;
}
.btnCenterAlign{
	clear: both;
	text-align: right;
}
.current-text p{
	margin: 20px 0;
    -moz-columns: 2 100px;
    -webkit-columns: 2 100px;
    -ms-columns: 2 100px;
    -o-columns: 2 100px;
}
.page-mutualisation .current-text p{
	-moz-columns: auto auto;
    -webkit-columns: auto auto;
    -ms-columns: auto auto;
    -o-columns: auto auto;
}
.page-deontologie .current-text p:first-of-type{
	-moz-columns: auto auto;
    -webkit-columns: auto auto;
    -ms-columns: auto auto;
    -o-columns: auto auto;
}

.slideTitle p {
    font-size: 2rem;
    line-height: 1.5;
    margin: 0;
}
.text p {
    color: #fff;
    float: left;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: 100%;
}
.text strong {
    color: #FFF;
    font-size: 2.5rem;
    font-family: 'Titillium Web', sans-serif;
}
.ref li {
    color: #8B8A86;
    font-family: 'Roboto', sans-serif;
}
.ref li:last-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.tabs li a {
    font-family: 'Roboto', sans-serif;
}
.tab li {
    float: left;
    font-size: 2rem;
    margin-bottom: 5px;
    width: 100%;
}
.maj {
    border-bottom: 1px dashed;
    color: #969491;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0 0 15px;
    padding: 0 0 5px;
}
.tab-cell li,
.list-caract li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.exp li,
.tab-cell li {
    float: left;
    height: auto;
    line-height: 1;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}
.competences .tab-cell li {
    float: none;
    height: auto;
}
.docs .tab-cell li {
    float: none;
}
.tab p{
	clear: both;
	float: left;
	width: 100%;
}
.exp:before,
.synt:before {
    color: #91B841;
    content: "> ";
    font-family: 'Titillium Web', sans-serif;
}
.synt{
	background: url("../images/svg/pdf.svg") no-repeat scroll left top / 46px auto rgba(0, 0, 0, 0);
	display: block;
	height: 46px;
	line-height: 46px;
	margin: 10px 0 20px;
	padding: 0 0 0 55px;
}
.synt a {
    text-decoration: underline;
    /**/

    -webkit-transition: color .45s ease-in-out;
    -moz-transition: color .45s ease-in-out;
    -o-transition: color .45s ease-in-out;
    transition: color .45s ease-in-out;
}
.synt a:hover {
    color: #91B841;
    text-decoration: underline!important;
}
.list-caract {
    padding-top: 10px;
}
.caract li strong,
.comptech li strong,
.compasso li strong,
.compsupp li strong {
    float: left;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}
.candidats .comptech li strong {
    margin: 0 .5rem 0 0;
}
.caract li aside {
    float: left;
}
.caract li strong {
    color: #FFFFFF;
}
.caract li strong:after,
.comptech li strong:after,
.compasso li strong:after,
.compsupp li strong:after,
legend strong:after {
    content: " | ";
    margin: 0 5px 0 0;
}
.tab-head {
    font-family: 'Titillium Web', sans-serif;
}
.tab-cell {
    clear: both;
    margin-top: 5px;
}
.title-contact {
    color: #75736f;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.2rem;
    margin: 0 0 10px;
}
.title-contact strong {
    color: #1B191A;
    display: block;
    font-family: 'Titillium Web', Sans-serif;
    font-size: 1.5rem;
}
.captcha .wpcf7-quiz-label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
}
.champs {
    font-family: 'Titillium Web', sans-serif;
}

/*------------------------------
CONNEXION
--------------------------------*/

#test-form label{
font-size: 1.6rem;
text-transform: uppercase;
}

/*------------------------------
NAVIGATION
--------------------------------*/

#nav-bottom-list li a {
    color: #75736f;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.signature {
	float: right;
	position: relative;
	top: -62px;
}
.signature,
.signature a{
    color: #75736f;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-size: .8rem;
}
.signature a {
    text-decoration: underline;
}
.bdd,
#test-form label {
    color: #75736f;
    font-family: 'Titillium Web', sans-serif;
        font-size: 13px;
    font-size: .8rem;
}
.entreprises #bbd {
    color: #586062;
}
.operateurs #bbd {
    color: #937b8d;
}
.slideTitle a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
}