/*------------------------------
INITIALISATION
--------------------------------*/
button,
input,
select,
textarea {
    box-shadow: none;
    font-family: 'roboto', Arial, serif;
    font-weight: normal;
}
button:hover,
button:focus,
button:active,
input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active {
	background: #FFF;
    border: 1px solid #5E5C57;
    box-shadow: none;
    /**/

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
input,
textarea {
    background: #e7e7e7;
    border: 1px solid #e7e7e7;
    width: 100%;
}
button,
input,
select,
textarea{
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
	margin: 0;
	padding: 10px;
	vertical-align: baseline;
	*vertical-align: middle;
}
textarea{
	overflow: auto;
	vertical-align: top;
}

fieldset {
	background: #FFF;
	padding: 40px;
}
.formulaire fieldset{
	padding-top: 0;
}
legend {
	border: 0 none;
	color: #5e5c57;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}
button,
input,
select {
    text-transform: none;
}
input[type="submit"]:hover{
	cursor: pointer;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] input[type="file"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.formulaire input{
	float: right;
	width: 75%;
}

/*------------------------------
SUBMIT
--------------------------------*/
.submit {
    background: none repeat scroll 0 0 #E1312C;
    border: medium none;
	border-radius: 0;
    color: #FFFFFF;
    float: right;
    font-size: 1.2rem;
    font-weight: 700;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
    text-transform: uppercase;
}

.submit:hover{
    background: #75736f;
    /**/

    -webkit-transition: background .8s ease-out;
    -moz-transition: background .8s ease-out;
    -ms-transition: background .8s ease-out;
    -o-transition: background .8s ease-out;
    transition: background .8s ease-out;
}

/*------------------------------
SELECT
--------------------------------*/

.stylSelect {
    background: url("../images/select.png") no-repeat scroll right top #FFFFFF;
    border: 2px solid #CCCCCC;
    height: 44px;
    overflow: hidden;
}
.stylSelect:hover {
    background-position: right bottom;
}
.stylSelect select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    height: 44px;
    line-height: 1;
    padding: 5px;
    width: 103%;
}

/*------------------------------
CONTACT
--------------------------------*/

.adresse {
    float: left;
    width: 40%;
}
.contact-form {
    float: right;
    padding: 0 0 0 20px;
    width: 60%;
}
.comments-template {
    background: #FFF;
    position: relative;
    padding: 0 0 40px;
}
.title-contact strong {
    margin-bottom: 10px;
}
.input-block,
.textarea-block {
    float: left;
    margin: 0 0 1.5%;
    width: 100%;
}

label {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
    font-size: 1.25rem;
    float: left;
    text-transform: uppercase;
    width: 15%;
}
.formulaire label{
	width: 25%;
}
.comments-template .captcha label{
	width: 100%;
}
.obligatory {
    color: #e1312c;
}
.submit-block .obligatory{
	font-size: 1rem;
}

.comments-template input,
.comments-template textarea {
    float: right;
    width: 85%;
}
.comments-template textarea {
    height: 520px;
    resize: none;
}
.captcha {
    float: left;
}
.submit-block {
    float: right;
    width: 85%;
    height: auto;
}
.submit-button {
    border-bottom: 1px dashed #8c8c8c;
	border-top: 1px dashed #8c8c8c;
	height: 65px;
	margin: 30px auto 0;
	padding: 5px 0;
	width: 100%;
}
.mfp-content .submit-button{
	width: 20%;
}
.edit_candidate .submit-button {
    float: left;
}
.comments-template input.submit,
.comments-template input.captcha-block {
	height: 55px;
	width: 30%;
}
.comments-template input.submit {
    background: #e1312c;
}
.comments-template input.submit:hover {
    background: #75736f;
    /**/

    -webkit-transition: background .8s ease-out;
    -moz-transition: background .8s ease-out;
    -ms-transition: background .8s ease-out;
    -o-transition: background .8s ease-out;
    transition: background .8s ease-out;
}
.comments-template input.captcha-block {
    float: left;
}
input#captcha-block{
	font-size: 1.5rem;
	height: 55px;
	left: 0;
	position: absolute;
	top: 44px;
	width: 50%;
}
#champs {
    float: right;
	font-size: 1rem;
	margin: 10px 0 0;
	width: 85%;
}
/*------------------------------
ENTREPRISES & OPÉRATEURS
--------------------------------*/

optgroup {
    font-family: 'Roboto';
}
option {
    font-family: 'Roboto', sans-serif;
}
option:hover {
    cursor: pointer !important;
}
.entreprises option:hover {
    background: #64C1D1 !important;
    color: #FFF !important;
}
.title-search:before {
    color: #64C1D1;
    content: "> ";
    font-family: 'Titillium Web', sans-serif;
}
.operateurs .title-search:before {
    color: #813B71;
}
.admin .title-search:before {
    color: #808080;
}
p.title-search {
    font-size: 1.85em;
    margin: 10px 0 0;
}
.col-admin p.title-search {
    float: left;
    width: 100%;
}
.col-admin p.title-search:nth-child(2n) {
    margin: 10px 0;
}
.operateurs #tabs-2 .dropdown,
.admin #tabs-2 .dropdown {
    margin: 0;
}
/*------------------------------
CHECKBOX ET RADIO
--------------------------------*/

/*
input[type="checkbox"],
input[type="radio"]{
	position: absolute;
	top: 23px;
	left: 3px;
	visibility: hidden;
}
input[type="checkbox"] + label,
input[type="radio"] + label{
	padding-left: 20px;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before{
    content: " ";
    cursor: pointer;
	background: transparent url('../images/svg/checkbox.svg') 0 20px no-repeat;
    display: inline-block;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before{
	background-position: 0 -20px;
    cursor: pointer;
	top: 19px;
}
*/

/*------------------------------
RESET
--------------------------------*/

input[type="reset"] {
    text-transform: uppercase;
    color: #75736f;
}
input[type="reset"]:hover {
    background: #e1312c;
    color: #FFF;
    opacity: 1;
    /**/
    /**/

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
/*------------------------------
Q
--------------------------------*/

q {
    font-size: 1.4rem;
}
.choix q {
    font-size: .8rem;
}

/*----------------------------------------------------------------
FORMS SPECIFS
------------------------------------------------------------------*/

.entreprises .cv-content label {
    font-size: 10px;
}
.admin .control-label {
    color: #B0AEAE;
    font-size: 2rem;
}
.admin .control-label-1 {
    color: #73716F;
    font-size: 2rem;
}
input.submit,
a.submit,
.wp-submit{
	border: 1px solid #e1312c;
   color: #fff;
	cursor: pointer;
	font-family: "Roboto",sans-serif;
	margin: 0;
	padding: 0 30px;
	text-transform: uppercase;
}
.wp-submit{
	background: #E1312C;
	line-height: 50px;
}
.wp-submit:hover,
.wp-submit:focus,
.wp-submit:active{
	background: #5E5C57;
	border: 1px solid #5E5C57;
}
.entreprises-abonnees #tabs-4 #col-centre .modifier input + input {
    margin-top: 20px;
}
.form-control {
    font-size: 1.7em;
    width: 100%;
}
.search-field:hover,
.search-field:active,
.search-field:focus{
	border: none;
}
.page.page-login .log-content label{
	width: 15%;
}
.page .log-content label{
	display: block;
	float: left;
	text-transform: uppercase;
	width: 30%;
}
.page .log-content label::after{
	content: "|";
	padding-left: 5px;
}
.page .log-content .login-remember{
	display: none;
}
.page.page-login .log-content input{
	width: 85%;
}
.page .log-content input{
	float: right;
	width: 70%;
}
.ajax-loader{
	float: right;
}
span.wpcf7-not-valid-tip{
	clear: both;
	color: #f00;
	display: block;
	float: left;
	font-size: 1em;
	position: relative;
}