/*------------------------------
PAGE LOGIN
--------------------------------*/

#login {
margin: 0 auto;
padding: 8% 0 0;
width: 400px;
}

.login * {
font-family: 'roboto', sans-serif;
font-weight: 400;
border: none;
}

.login p{
text-align: left;
width: 100%;
}
.forgetmenot {
	bottom: 0 !important;
	font-weight: 400;
	position: absolute;
}

#login h1 a {
background-image: url("../images/svg/jobvideo-logo.svg") !important;
background-position: 0 center;
background-size: 100% auto;
direction: ltr;
display: block;
font-family: "fonts/robotoregular",sans-serif;
font-weight: 200;
height: 135px;
padding: 0;
text-indent: -9999rem;
width: 400px;
}

#login .message{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
border: medium none;
box-shadow: none;
font-size: 1.5rem;
font-weight: 100;
height: auto;
line-height: 1.1;
margin: 0;
width: 400px;
}
.aiowps-captcha-equation {
	float: left;
	width: 100%;
}
.login form {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
box-shadow: none;
float: left;
font-weight: 300;
margin: 25px 0 auto;
min-height: 450px;
position: relative;
width: 100%;
}

.login label {
color: #000000;
font-size: 14px;
font-weight: 100;
text-transform: uppercase;
width: 100%;
}

.login form .input, .login input[type="text"] {
background: none;
font-size: 24px;
margin: 2px 0 16px;
padding: 3px;
width: 100%;
}

.login #backtoblog, .login #nav {
float: left;
font-size: 1rem;
margin: 15px 0 0 70px;
padding: 0;
width: 100%;
}

.login input[type="checkbox"],.login input[type="color"],.login input[type="date"],.login input[type="datetime-local"],.login input[type="datetime"],.login input[type="remail"], .login input[type="month"],.login input[type="number"],.login input[type="password"],.login input[type="radio"],.login input[type="search"],.login input[type="tel"],.login input[type="text"],.login input[type="time"],.login input[type="url"],.login input[type="week"],.login select,.login textarea {
background-color: none;
border: 1px dotted #000000;
box-shadow: none;
color: #333;
outline: 0 none;
transition: border-style 0.05s ease-in-out 0s;
}


.login input[type="checkbox"]:focus,.login input[type="color"]:focus,.login input[type="date"]:focus,.login input[type="datetime-local"]:focus,.login input[type="datetime"]:focus, .login input[type="remail"]:focus,.login input[type="month"]:focus,.login input[type="number"]:focus,.login input[type="password"]:focus,.login input[type="radio"]:focus,.login input[type="search"]:focus,.login input[type="tel"]:focus,.login input[type="text"]:focus,.login input[type="time"]:focus,.login input[type="url"]:focus,.login input[type="week"]:focus,.login select:focus, textarea:focus {
border-color: #000000;
box-shadow: none;
border-style: solid;
}
div.updated, .login .message, .press-this #message {
background-color: #FFFFFF;
border-left: 4px solid #80261c;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.wp-core-ui .button-primary {
background: #E1312C;
border: none;
color: #FFFFFF;
font-family: 'fonts/robotoregular', Sans-serif;
font-size: 1.2rem;
margin: 0;
padding: 0 0.5rem;
text-decoration: none;
text-transform: uppercase;
vertical-align: baseline;
*vertical-align: middle;
}

.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
height: inherit;
line-height: inherit;
padding: 0 10px;
width: 100%;

/**/
/**/
-webkit-transition: background .45s ease-in-out;
-moz-transition: background .45s ease-in-out;
-ms-transition: background .45s ease-in-out;
-o-transition: background .45s ease-in-out;
transition: background .45s ease-in-out;
}

.wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
background: #75736f;
}

.login #nav a:hover, .login #backtoblog a:hover {
color: #80261c;
}