/*------------------------------
IMPORT
--------------------------------*/
@import "easydropdown.metro.css";

/*------------------------------
EN-TÊTE
--------------------------------*/
.cv-entreprises .intro-profil{
	background-color: #64c1d1;
}
.cv-candidats .intro-profil{
	background-color: #91B841;
}

/*------------------------------
TAB CV ENTREPRISES
--------------------------------*/
.portrait.portrait-entreprise{
	background: #EEEEEE;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	height: 210px;
	width: 17%;
}
.portrait.portrait-entreprise img{
	display: block;
	margin: 0 auto;
	position: relative;
	top: 25%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: auto;
}
.cv-entreprises .featured-inscription h3{
	text-align: left;
}
.cv-entreprises .cv h2:first-child {
	color: #1b191a;
}
.cv-entreprises .cv h2{
	color: #64c1d1;
}
.cv-entreprises .cv-content-inner{
	padding: 0;
	position: relative;
}
.cv-entreprises .tab{
	padding: 0 3.1% 3.1% 3.1%;
}
.cv-entreprises .cv{
	margin-top: 0;
}
.cv-entreprises .tab-head{
	background: #64c1d1;
}
.cv-entreprises .title-tab-head{
	background: none;
	color: #64c1d1;
	font-size: 2.25rem;
	text-transform: none;
	padding: 0;
}
.cv-entreprises .exp::before{
	color: #64c1d1;
}
.cv-text li{
	width: auto;
}
.cv h3.tel,
.cv h3.siret{
	color: #64c1d1;
	font-size: 1.5rem;
	float: left;
	margin-top: 10px;
	width: auto;
}
.seperate {
	float: left;
	font-size: 1.5rem;
	line-height: 1;
	margin: 8px 10px 0px;
}
.cv-entreprises .ref{
	float: left;
	width: 100%;
}
/*------------------------------
TAB
--------------------------------*/
.tab.buy{
	min-height: 737px;
}
.cv-entreprises .cv-tabs-inner{
	top: -40px;
}
.cv-entreprises .tabs li a{
	background-color: #b8b8b7;
	color: #FFFFFF;
}
.cv-entreprises a.tab1.activate,
.cv-entreprises a.tab2.activate,
.cv-entreprises a.tab2.activate span,
.cv-entreprises a.tab3.activate,
.cv-entreprises a.tab3.activate span,
.cv-entreprises a.tab4.activate,
.cv-entreprises a.tab5.activate,
.cv-entreprises a.tab6.activate,
.cv-entreprises a.tab7.activate,
.cv-entreprises .tabs li a.activate:hover{
	color: #64c1d1;
}
.cv-entreprises a.tab1{
	background: url('../images/svg-app/User-fff.svg') no-repeat right 15px center;
}
.cv-entreprises a.tab1.activate{
	background: url('../images/svg-app/User.svg') no-repeat right 15px center;
	background-color: #FFFFFF;
}
.cv-entreprises a.tab2{
	background: url('../images/svg-app/Eye-fff.svg') no-repeat right 15px center;
}
.cv-entreprises a.tab3{
	background: url('../images/svg-app/Euro-fff.svg') no-repeat right 15px center;
}
.cv-entreprises a.tab2,
.cv-entreprises a.tab3,
.cv-entreprises a.tab2.activate,
.cv-entreprises a.tab3.activate{
	padding-top: 25px;
	padding-bottom: 25px;
}
.cv-entreprises a.tab2 span,
.cv-entreprises a.tab3 span{
	color: #FFFFFF;
	display: block;
	font-size: 3rem;
	line-height: 1;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}
.cv-entreprises a.tab2 span.nbre,
.cv-entreprises a.tab3 span.nbre{
		font-size: 3.75rem;
}
.cv-entreprises a.tab2 span.txtNbre,
.cv-entreprises a.tab3 span.txtNbre{
		font-size: 1.5rem;
}
.cv-entreprises a.tab2.activate{
	background: url('../images/svg-app/Eye.svg') no-repeat right 15px center ;
	background-color: #FFFFFF;
}
.cv-entreprises a.tab3.activate{
	background: url('../images/svg-app/Euro.svg') no-repeat right 15px center ;
	background-color: #FFFFFF;
}
.cv-entreprises a.tab4{
	background: url('../images/svg-app/edit-profil-fff.svg') no-repeat right 15px center;
}
.cv-entreprises a.tab4.activate{
	background: url('../images/svg-app/edit-profil.svg') no-repeat right 15px center ;
	background-color: #FFFFFF;
}
.cv-entreprises a.tab5{
	background: url('../images/svg-app/search-fff.svg') no-repeat right 15px center;
	line-height: 1;
	height: 120px;
	padding-top: 18%;
}
.cv-entreprises a.tab5.activate{
	background: url('../images/svg-app/search.svg') no-repeat right 15px center ;
	background-color: #FFFFFF;
}
.cv-entreprises a.tab6{
	background: url('../images/svg-app/cart-fff.svg') no-repeat right 15px center;
	line-height: 1;
	height: 120px;
	padding-top: 15%;
}
.cv-entreprises a.tab6.activate{
	background: url('../images/svg-app/cart.svg') no-repeat right 15px center ;
	background-color: #FFFFFF;
}
.cv-entreprises a.tab7{
	background: url('../images/svg-app/cart-fff.svg') no-repeat right 15px center;
	line-height: 1;
	height: 120px;
	padding-top: 15%;
}
.cv-entreprises a.tab7.activate{
	background: url('../images/svg-app/cart.svg') no-repeat right 15px center ;
	background-color: #FFFFFF;
}
/*------------------------------
TAB FILTRES
--------------------------------*/
.filter{
	margin-bottom: 35px;
}
.filter-col{
	width: 80%;
	float: left;
}
.filter label{
	color: #64c1d1;
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
	line-height: 35px;
	width: 10%;
}
.reference {
	background: no-repeat;
	border: 1px solid #64c1d1;
	font-family: 'Titillium Web', sans-serif;
	float: left;
	height: 36px;
	padding: 0 10px;
	font-size: 16px;
	font-size: 1rem;
	line-height: 35px;
	vertical-align: middle;
	width: 20px;
}
.cv-candidats .reference{
	border: 1px solid #688629;
}
.cv-candidats .reference:hover{
	border-color: #1b191a;
}
.filter input.submit{
	color: #64c1d1;
	background: none;
	border: 1px solid;
	float: left;
	font-size: 16px;
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
	height: 36px;
	line-height: 36px;
	padding: 0;
	position: relative;
	left: -1px;
	width: 37px;
}
.cv-candidats .filter input.submit{
	color: #688629;
}
.cv-candidats .filter label{
	width: 100%;
	color: #688629;
}
.reference:hover + input.submit,
.filter input.submit:hover{
	border-color: #1b191a;
}
.select-view {
	float: right;
}
.view-choice {
	float: right;
	width: 18.5%;
}
.filter label.label-view {
	width: 50%;
	margin-right: 20px;
}
.view-choice a{
	display: block;
	float: left;
	text-indent: -999em;
	direction: ltr;
	height: 35px;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.view-choice a:nth-child(even){
	margin-left: 20px;
}
.view-thumbnail{
	background: url('../images/svg-app/thumbnails.svg') no-repeat left top;
	width: 35px;
}
.view-thumbnail.activ {
	background-position: -35px top;
}
.view-list{
	background: url('../images/svg-app/List.svg') no-repeat left top;
	width: 39px;
}
.view-list.activ {
	background-position: -39px top;
}
/*------------------------------
TAB CV CANDIDAT THUMBNAILS
--------------------------------*/
.cv-entreprises .cv-content{
	border: 4px solid rgb(231, 231, 231);
	box-shadow: none;
	margin-bottom: 20px;
	width: 48%;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.cv-entreprises .cv-content:nth-child(even){
	float: left;
	margin-right: 4%;
}
.cv-resume h2{
	font-size: 1.5rem;
}
.cv-resume h3{
	font-size: 1.25rem;
}
.cv-resume .ref{
	height: 35px;
}
.cv-resume .ref li{
	font-size: .875rem;
	line-height: 35px;
}
.cv-resume .ref li:last-child{
	float: left;
	clear: both;
}
.cv-resume .portrait{
	width: 24%;
}
.cv-resume .cv-text{
	width: 74%;
}
.titleInterest{
	background: #64c1d1;
	color: #fff;
	font-size: .875rem;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	padding: 0 5px;
	margin-top: 40px;
	margin-bottom: 15px;
	width: 100%;
}
.cv-candidats .titleInterest{
	background: #688629;
}
.cv-contener {
	padding: 20px;
}
.btnRadio{
	float: left;
	height: 32px;
	margin-left: -32px;
	width: auto;
}
.btnRadio p{
	text-indent: -999em;
}
.btnRadio label{
	display: inline-block;
	float: none;
	width: 32px;
}
.btnRadio input[type="radio"]{
	display: none;
}
.btnRadio input[type="radio"] + label span{
	background: url(../images/svg-app/star.svg) no-repeat center top;
	display: block;
	height: 30px;
	margin: 0;
	vertical-align: middle;
	width: 32px;
}
.btnRadio input[type="radio"]:checked + label span{
	background-position: center bottom;
}
.buttonResume {
	width: 100%;
}
.buttonResume a {
	line-height: 70px;
	width: 33.33%;
	display: block;
	text-indent: -999em;
	float: left;
}
a.delete-profil{
	background: #9b9892 url('../images/svg-app/delete.svg') no-repeat center center;
}
a.voir-profil{
	background: #3b3b3b url('../images/svg-app/Eye-fff.svg') no-repeat center center;
}
a.acheter-profil{
	background: #e1312c url('../images/svg-app/Euro-fff.svg') no-repeat center center;
}
a.add-profil{
	background: #64c1d1 url('../images/svg-app/add-cart.svg') no-repeat center center;
}
/*------------------------------
TAB CV CANDIDAT LIST
--------------------------------*/
.cv-entreprises .cv-content.list {
	width: 100%;
}
.cv-resume.list .cv-contener {
	padding: 20px;
	float: left;
	width: 90%;
}
.cv-resume.list .portrait{
	margin: 0;
	width: 12%;
}
.cv-resume.list .cv-text{
	float: left;
	margin: 0 2%;
	width: 84%;
}
.cv-resume.list .cv-col{
	float: left;
	width:40%;
}
.cv-resume.list .cv-col:nth-child(even){
	margin-left: 2%;
	width: 55%;
}
.cv-resume.list label{
	width: 10%;
}
.list .titleInterest{
	background: #64c1d1;
	color: #fff;
	font-size: .875rem;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	padding: 0 5px;
	margin-top: 10px;
	width: 100%;
}
.cv-resume.list .buttonResume {
	width: 10%;
	float: right;
}
.list .buttonResume a {
	line-height: 78px;
	width: 100%;
}
/*------------------------------
TAB SEARCH
--------------------------------*/
.cv-search-contener{
	float: left;
	width: 48%;
}
.content-search{
	margin-left: 4%;
	float: left;
	width: 48%
}
.search .cv-content:nth-child(even),
.search .cv-content{
	margin: 0;
	margin-bottom: 20px;
	width: 100%;
}
.search h3,
.cv-edit h3{
	margin-bottom: 15px;
}
.cv-search-contener .titleInterest{
	margin: 20px 0;
}
.search .filter{
	float: left;
	text-align: center;
	width: 100%;
}
.search .content-search .filter{
	text-align: left;
}
.search .filter label{
	width: 100%;
}
.search .filter .reference,
.cv-edit .filter .reference{
	width: calc(100% - 0px);
}
.reference_image{
	width: calc(100% - 100px);
background: no-repeat;
	border: 1px solid #64c1d1;
	font-family: 'Titillium Web', sans-serif;
	float: left;
	height: 35px;
	padding: 0 0px;
	font-size: 16px;
	font-size: 1rem;
	line-height: 30px;
	vertical-align: middle;
}
.reference_code_postale{
	width: calc(100% - 55%);
	background: no-repeat;
	border: 1px solid #64c1d1;
	font-family: 'Titillium Web', sans-serif;
	float: left;
	height: 35px;
 	font-size: 16px;
	font-size: 1rem;
	line-height: 30px;
	vertical-align: middle;
}
.reference_code_vile{
	width: calc(100% - 55%);
	background: no-repeat;
	border: 1px solid #64c1d1;
	font-family: 'Titillium Web', sans-serif;
	float: right;
	height: 35px;
 	font-size: 16px;
	font-size: 1rem;
	line-height: 30px;
	vertical-align: middle;
}
.reference_textarea{
	width: calc(100% - 0px);
background: no-repeat;
	border: 1px solid #64c1d1;
	font-family: 'Titillium Web', sans-serif;
	float: left;
	height: 115px;
	padding: 0 10px;
	font-size: 16px;
	font-size: 1rem;
	line-height: 30px;
	vertical-align: middle;
}
.work {
	position: relative;
	z-index: 4;
}
.places {
	padding-top: 40px;
	clear: both;
}
.work .dropdown,
.places .dropdown {
	width: 100%;
	margin: 0;
}
.filter input.valid{
	float: right;
	margin-top: 20px;
	width: 20%;
}
/*------------------------------
EDIT PROFIL
--------------------------------*/
.col-tab{
	float: left;
	width: 48%;
}
.col-tab:nth-child(even){
	margin-left: 2%;
}
.cv-edit .titleInterest{
	margin-top: 0;
	margin-bottom: 20px;
}
.cv-edit .skill .titleInterest{
	margin-bottom: 10px;
}
.skill input{
	margin-top: 10px;
}
input[type="file"]{
	padding-left: 0;
}
/*------------------------------
ACHAT
--------------------------------*/
.buy .cd-pricing-features li{
	font-size: 16px;
	font-size: 1rem;
}
.cv-entreprises .buy [class*="cd-pricing-header"] h2 {
	border: medium none;
	color: #fff;
	font-family: "Titillium Web",sans-serif;
	font-size: 1.75rem;
	margin: 0 0 5px;
	text-align: center;
}
.cv-entreprises .buy .abo5 [class*="cd-pricing-header"] h2 {
	margin: 0;
	line-height: 75px;
}
.cv-entreprises .buy [class*="cd-pricing-header"] span{
	font-size: 2.5rem
}