.navResponsive {
    display: none;
}
nav.wrapper{
    background: none;
    padding: 20px 0 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.navInner{
    background: none;
    float: left;
    height: 100px;
    width: 19%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.navInner.navThin{
    height: 50px;
}
.navInner .logo{
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.navTop{
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}
.navThin .logo{
    height: 100px;

    -moz-transform: scale(.55) translateX(-20px) translateY(-65px);
    -webkit-transform: scale(.55) translateX(-20px) translateY(-65px);
    -o-transform: scale(.55) translateX(-20px) translateY(-65px);
    -ms-transform: scale(.55) translateX(-20px) translateY(-65px);
    transform: scale(.55) translateX(-20px) translateY(-65px);

}
.navThin .menu-header li > a{
    line-height: 50px;
}
.logo {
    background: rgba(0, 0, 0, 0) url("../images/svg/jobvideo-logo.svg") no-repeat scroll center center / 100% auto;
    direction: ltr;
    display: block;
    height: 100%;
    text-indent: -999rem;
    width: 100%;
}
.menu-header-container {
    float: right;
    width: 74%;
}
.menu-header {
    float: right;
}
.menu-header li {
    color: #5e5c57;
    display: inline-block;
    opacity: 1;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-header li:hover,
.menu-header-container li:active {
    cursor: pointer;
}
.menu-header li > a {
    border-right: 1px solid #e7e7e7;
    color: #5e5c57;
    font-size: 1.5rem;
    line-height: 115px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-header li > a:hover,
.menu-header li > a:active,
.menu-header li> a:focus {
    color: #E1312C;
}
.menu-header li:last-child a {
    border: none;
}
.menu-header li > a:before {
    background: #E1312C;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    opacity: 1;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition: background 0.3s ease 0s, width 0.2s ease 0s;
    width: 0;
    /**/

    -webkit-transform: translateX(-50%);
    -webkit-transition: background 0.3s ease 0s, width 0.2s ease 0s;
}
.menu-header li a:hover:before,
.menu-header li a:hover:focus {
    width: 100%;
}

/*------------------------------
FOOTER
--------------------------------*/
.nav-footer {
    background: inherit;
    border-bottom: 1px dashed #8c8c8c;
    border-top: 1px dashed #8c8c8c;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    width: 100%;

    display: -webkit-flex;
    -webkit-flex-direction: row;
    -ms-display: flex;
    -ms-flex-direction : row;
}
.nav-footer li{
    margin: auto;
}
.nav-footer li > a {
    color: #75736f;
    display: block;
    font-family: "roboto",sans-serif;
    font-size: 1.6rem;
    line-height: 40px;
    padding: 0 64.2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    /**/
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.nav-footer li > a:hover,
.nav-footer li > a:active,
.nav-footer li > a:focus{
    background-color: #75736f;
    color: #e7e7e7;
    width: 100%;
}
.nav-footer-second{
    background: inherit;
    padding: 0;
}
/*------------------------------
NAVIGATION RESPONSIVE
--------------------------------*/
.navReponsive{
    display: none;
}

/*------------------------------
BREADCRUMB
--------------------------------*/
.breadcrumbs {
    color: #eeeeee;
    font-size: 0.85rem;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.breadcrumbs > li {
    color: #eeeeee;
    display: inline-block;
    padding: 0 5px;
}
.breadcrumbs a {
    color: #eeeeee;
}
.home-icon{
    background: url('../images/svg/home.svg') no-repeat center center;
    direction: ltr;
    display: block;
    text-indent: -999em;
    width: 20px
}