/*------------------------------
< 1440PX
--------------------------------*/
@media screen and (max-width : 1440px) {

	/*------------------------------
	STRUCTURE
	--------------------------------*/

	/*------------------------------
	NAVIGATION
	--------------------------------*/
	.navInner{
	width: 19%;
	}
	.menu-header li > a{
		font-size: 22px;
		font-size: 1.35rem;
	}
	.nav-footer li > a {
		font-size: 16px;
		font-size: 1rem;
		padding: 0 36px;
	}
	.search-field:focus {
    	width: 600px;
	}
	.menu-header li > a {
		font-size: 1.25rem;
		padding: 0 10px;
	}

	/*------------------------------
	SLIDER
	--------------------------------*/
	.rslides li{
	  max-height: 323px;
	}
	.slideTitle {
		bottom: 0;
		height: 16.5rem;
		width: 500px;
	}
	.slideTitle a {
		bottom: -10px;
		left: 465px;
	}
	.rslides_tabs {
		bottom: -70px;
		height: auto;
		margin: 32px;
		padding: 0;
	}
	.rslides1_s3{
		margin: 0;
	}
	.featured-meta a {
		background-size: 12% auto;
		font-size: 1.5rem;
		width: 160px;
	}
	/*---------------------------------
	ENTRY
	----------------------------------*/




	/*------------------------------
	ÉLÉMENTS
	--------------------------------*/
	h1 {
		font-size: 2rem;
		line-height: 1.5;
	}
	.page .image-featured h1{
		font-size: 64px;
		font-size: 4rem;
	}
	h2, .page h1 {
		font-size: 3rem;
		line-height: 45px;
		margin: 15px 0;
	}
	#consult h2{
		margin-top:2px;
	}
	h3 {
		font-size: 32px;
		font-size: 2rem;
		line-height: 1;
	}
	h4 {
		font-size: 48px;
		font-size: 3rem;
		line-height: 1;
	}
	h5 {
		font-size: 56px;
		font-size:3.5rem;
	}
	h6 {
		font-size: 25px;
		font-size:1.6rem;
	}
	.featured-content p{
		font-size: 24px;
		font-size: 1.5rem;
	}
	.text strong{
		font-size: 32px;
		font-size: 2rem;
	}
	.text p {
		font-size: 18px;
		font-size: 1.15rem;
	}
	.slideTitle p{
		font-size: 32px;
		font-size: 2rem;
		}
	.maj{
		font-size: 20px;
		font-size: 1.25rem;
		}

	p, .tab-cell li, .list-caract li {
		font-size: 18px;
		font-size: 1.25rem;
	}
	#nav-bottom-list li a {
		font-size: 19px;
		font-size: 1.2rem;
	}
	.title-contact{
		font-size: 32px;
		font-size: 2rem;
	}
	.title-contact strong{
		font-size: 18px;
		font-size: 1.2rem;
	}
	.comments-tremplate label{
		font-size: 16px;
		font-size: 1rem;
	}
	.image-featured li{
		font-size: 18px;
		font-size: 1.8rem;
	}
	h1.marge{
		margin: 1.5% 0;
	}
	/*------------------------------
	PROFILS
	--------------------------------*/
	.download-content p,
	.download-content p > a,
	.page .log-content h2,
	.page .log-inscription h2{
		font-size: 32px;
		font-size: 2rem;
	}
	.download-content,
	.log-content{
		padding: 20px;
	}
	/*------------------------------
	FORM
	--------------------------------*/
	.page .log-content label{
		width: 35%;
	}
	.page .log-content input{
		width: 62%;
	}

	.comments-template label{
		width: 20%;
	}
	.comments-template input,
	.comments-template textarea{
		width: 80%;
	}
	.submit-block{
		width: 80%;
	}
	.captcha .wpcf7-quiz-label{
		font-size: 18px;
		font-size: 1.25rem;
	}
	input#captcha-block{
		top: 41px;
	}
	.champs{
		width: 80%;
	}
	/*---------------------------------
		ENTREPRISES
	----------------------------------*/

	.entreprises .legend h4{font-size: 8rem;}

	.entreprises .slideTitle{width: 41rem;}

	.entreprises .rslides_tabs{width: 230px;}

	.entreprises #adresse{width: 25%;}

	.entreprises .contact-form{width: 72%;}


	/*---------------------------------
		ENTREPRISES ABONNÉES
	----------------------------------*/
	.entreprises-abonnees .tabs li a {padding: 1.3rem 0;}

	.entreprises-abonnees .tabs li a.activate {padding: 0.85rem 0;}

	.entreprises-abonnees .tabs li a#firstonglet {padding: 1.3rem 0;}

	.entreprises-abonnees .tabs li a#firstonglet.activate {padding: 0.85rem 0;}

	#tabs-4 .modifier{position: relative;}

	#tabs-4 #ajout{
		left: 0;
		position: absolute;
		top: 40px;
		width: 100%;
	}

	.entreprises-abonnees .selection #portrait-title{
		width: 265px;
	}

	.voir-panier form{
		width: 750px;
	}

	/*---------------------------------
		CANDIDATS
	----------------------------------*/
	.candidats #portrait-title {
		width: 41.5rem;
	}

	.candidats .comment-entreprise .contact-form,
	.candidats .comment-entreprise #adresse,
	.candidats .comment-entreprise #title-formulaire{
		float: left;
		width: 100%;
	}

	.candidats .comment-entreprise #title-formulaire{
		margin-top: 1rem;
	}

	.candidats .title-contact strong{
		margin-bottom: .4rem;
	}

	.candidats .contact-text-entreprise{
		font-size: 1rem;
	}

	.candidats .submit-block{
		margin-bottom: 2.5rem;
	}

	/*----------------------------------
		PROFIL
	------------------------------------*/
	.tabs li a{
		font-size: 1rem;
		background-size: 25%;
	}

	/*----------------------------------
		CONTACT
	------------------------------------*/

	.contact-form{
		margin: 15px 0 0;
	}
	.obligatory{
		float: left;
	}
	.admin .title-contact{
		clear: both;
		float: left;
		margin: 35px 0 0;
	}
	.title-contact strong {
		margin-bottom: 0;
	}
	.comments-tremplate textarea {
		height: 420px;
		resize: none;
	}	
	.submit-button input{
		font-size: 2rem;
	}
	input{
		height: 45px;
	}

}

/*------------------------------
< 1280px
--------------------------------*/

@media screen and (max-width : 1280px){

	/*------------------------------
	SLIDER
	--------------------------------*/
	.rslides li{
	  max-height: 284px;
	}
	/*------------------------------
	STRUCTURE
	--------------------------------*/
	.cv,
	.wrapper,
	.image-featured{
		width: 94%;
	}
	/*------------------------------
	FONTS
	--------------------------------*/
	.tabs li a{
		font-size: 1rem;
	}

}

/*------------------------------
1024px
--------------------------------*/

@media screen and (max-width : 1024px){
	/*------------------------------
	GÉNÉRAL
	--------------------------------*/
	body{
		position: relative;
	}
	main{
		overflow-x: hidden;
	}
	.wrapper {
		width: 100%;
		padding: 0;
	}
	.intro-profil .wrapper, .current-text .wrapper, .featured-partner .wrapper {
    padding: 0;
	}
	.page-mutualisation .featured{
		padding-bottom: 20px;
	}
	.featured{
		padding: 140px 0 0;
	}
	.featured-log{
		padding-bottom: 20px;
	}
	.home .featured{
		padding-top: 100px;
		padding-bottom: 20px;
	}
	.featured p{
		padding: 0 20px;
	}
	/*------------------------------
	ÉLÉMENTS
	--------------------------------*/
	h1 {
		float: left;
		font-size: 2.2rem;
		line-height: 1.5;
	}
	.home h1{
		padding: 20px;
		line-height: 1.15;
	}
	.page .image-featured h1{
		font-size: 3.5rem;
	}
	h2, .page h1 {
		font-size: 2.5rem;
		margin: 0 0 20px;
		width: 100%;
	}
	.home.page h1{
		float: left;
		font-size: 2rem;
		line-height: 1.35;
		padding: 20px;
		text-align: center;
	}
	h3{
		font-size: 2rem;
		line-height: 1;
	}
	h4{
		font-size: 3rem;
		line-height: 1;
	}
	h5{
		font-size:3.5rem;
	}
	h6{
		font-size:2.5rem;
	}
	.text p {
		font-size: 1rem;
	}
	.text strong{
		font-size: 1.5rem;
	}
	.featured-content p {
		font-size: 1.25rem;
	}
	.slideTitle p{
		font-size: 2rem;
	}
	.ref li {
		font-size: 1.6rem;
	}

	.tabs li a{
		font-size: 2rem;
	}
	.maj{
		font-size: 1.2rem
	}
	.tab-cell li, .list-caract li {
		font-size: 1.4rem;
	}
	p{
		font-size: 1rem;
	}
	#nav-bottom-list li a {
		font-size: 1.2rem
	}
	h1.marge{
		margin: 1.5% 0;
	}
	.page-template-page-content h3{
		padding: 0 20px;
		margin: 20px 0 10px 0;
	}
	/*------------------------------
	HEADER
	--------------------------------*/
	header[role="banner"] {
		height: 9rem;
		overflow: hidden;
		position: fixed;
		width: 100%;
	}
	.search-field:focus {
		width: 680px;
	}
	/*------------------------------
	NAVIGATION
	--------------------------------*/
	.logo{
		height: 100px;
		margin: 0 0 0 20px;
		width: 25%;
	}
	.navInner.navThin {
		height: 60px;
	}
	.navThin .logo {
		top: 12px;
		position: relative;
	}
	nav.wrapper{
		padding: 0;
		position: relative;
	}
	.navInner{
		background: #fff none repeat scroll 0 0;
		height: 100px;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	.navResponsive{
		background: #E1312C none repeat scroll 0 0;
		direction: ltr;
		display: block;
		height: 40px;
		overflow: hidden;
		position: fixed;
		right: 0;
		text-indent: -999em;
		top: 40px;
		width: 44px;
		z-index: 100;
	}
	.home .navResponsive{
		top: 0;
	}
	.navResponsive::before,
	.navResponsive::after {
		background: #fff none repeat scroll 0 0;
		content: "";
		display: block;
		height: 4px;
		transition: all 0.25s ease-in-out 0s;
		width: 20px;
	}
	.navResponsive::before {
		margin: 10px auto 0;
	}
	.navResponsive::after {
		margin: 0 auto;
	}
	.menuBurger {
		background: #fff none repeat scroll 0 0;
		display: block;
		height: 4px;
		margin: 4px auto;
		padding: 0;
		width: 20px;
	}
	.closeIcon::before {
		transform: translateY(8px) rotate(-45deg);
	}
	.closeIcon::after {
		transform: translateY(-8px) rotate(45deg);
	}
	.closeIcon .menuBurger{
		opacity: 0;
	}
	.menu-header{
		background: #fff none repeat scroll 0 0;
		float: none;
		left: 0;
		position: absolute;
		width: 100%;
		/**/
		-moz-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		/**/
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;

	}
	.navOn{
		-moz-transform: translateY(100px);
		-webkit-transform: translateY(100px);
		-o-transform: translateY(100px);
		-ms-transform: translateY(100px);
		transform: translateY(100px);
	}
	.navThin .navOn{
		-moz-transform: translateY(50px);
		-webkit-transform: translateY(50px);
		-o-transform: translateY(50px);
		-ms-transform: translateY(50px);
		transform: translateY(50px);
	}
	.menu-header{
		float: none;
		text-align: center;
	}
	.menu-header li > a {
		font-size: 1.15rem;
		line-height: 100px;
		padding: 0 10px;
	}

	.page-template-PageTemplatepage-content-php #nav-widget,
	.page-profil-type #nav-widget,
	.page-template-page-rubrique #nav-widget{
		position: relative;
		z-index: 1;
	}
	.page-template-PageTemplatepage-content-php .navResponsive,
	.page-profil-type .navResponsive,
	.page-template-page-rubrique .navResponsive{
		top: 40px;
	}
	.tabs li a::before{
		display: none;
	}
	/*------------------------------
	CONNEXION
	--------------------------------*/
	#test-form, #modif-form{
		width: 80%;
	}
	/*------------------------------
	FORM
	--------------------------------*/
	.comments-template{
		padding: 20px;
	}
	/*------------------------------
	POP-UP
	--------------------------------*/
	.mfp-close{font-size: 4rem;}

	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
	}

	.mfp-arrow-left {
	    -webkit-transform-origin: 0;
	    transform-origin: 0;
	}

	.mfp-arrow-right {
	    -webkit-transform-origin: 100%;
	    transform-origin: 100%;
	}

	.mfp-container {
	    padding-left: 6px;
	    padding-right: 6px;
	}
	/*------------------------------
	SLIDER
	--------------------------------*/
	.rslides_tabs{
		bottom: -25px;
	}
	.rslides li{
	  max-height: 210px;
	  width: 100%;
	}
	.rslides article {
		height: 210px;
	}
	.featured-content{
		padding: 20px;
		width: 48%
	}
	.featured-slider{
		background: #FFFFFF;
	}
	.rslides_tabs{
		left: 39%;
		margin: 20px auto 0;
	}
	/*---------------------------------
	PROFILS
	----------------------------------*/
	.entry .text {
	  background-position: 50% 95%;
	  background-size: 8% auto;
	}
	.featured-content-profil{
		background: #fff none repeat scroll 0 0;
		clear: both;
		padding: 25px 0 0;
	}
	.smart{
		color: #75736F;
		display: block;
		margin: 0;
		text-transform: uppercase;
	}
	.entry{
		background: none;
	}
	.entry aside {
		opacity: 0;
		height: 325px;
	}
	.text {
		height: 325px;
		opacity: 1;
		padding: 10px;
	}
	.text h4{
		background: rgba(0, 0, 0, 0) url("../images/svg/icons-profils-blc.svg") no-repeat scroll center 10px / 40px auto;
		height: 49px;
		margin: 0 0 45px;
		padding: 48px 0 0;
	}
	.text-Candidats h4{
		background-position: center center;
	}
	.text-Opérateurs h4{
		background-position: center bottom;
		height: 44px;
		padding: 44px 0 0;
	}
	.intro-profil .wrapper {
		padding: 20px;
	}
	.image-featured{
		background-size: 190px auto;
		background-position: 20px 0;
		height: 180px;
		padding: 0 0 0 220px;
		width: 100%;
	}
	.page-operateurs .image-featured {
		background-position: 3% 98%;
		background-size: 179px;
	}
	.text-featured{
		padding: 20px;
	}
	.tab-cell.synt {
		padding: 0 0 0 55px;
	}
	/*------------------------------
	PROFIL TEST
	--------------------------------*/
	.cv-content{
		clear: both;
		float: none;
		width: 100%;
	}
	.cv-content-inner{
		padding: 15px;
	}
	.cv-text {
		float: none;
		width: 100%;
	}
	.cv-tabs-inner{
		float: none;
		top: 0;
		width: 100%;
	}
	a.btn{
		height: 50px;
	}
	a.btn.edit,
	a.btn.share{
		background-size: 8%;
	}
	.ref {
		margin: 10px 0 0;
		float: left;
		width: 100%;
	}
	.ref li{
		font-size: 1.25rem;
	}
	.tabs > li{
		padding-bottom: 0;
		width: 20%;
	}
	.content-tab{
		float: none;
		width: 100%;
	}
	.tabs {
		clear: both;
		height: 60px;
		overflow: hidden;
	}
	.tabs li a{
		font-size: .85rem;
		line-height: 60px;
	}
	.tab{
		padding: 15px;
		min-height: 343px;
	}
	.maj,
	.tab-cell li,
	.list-caract li{
		font-size: 1rem;
	}
	.tab-head{
		line-height: 1.5;
	}
	.tab-cell li:last-child{
		margin-bottom: 0;
	}
	a.btn.edit:hover,
	a.btn.edit:focus{
		background-color: #3B3B3B;
	}
	a.btn.share:hover,
	a.btn.share:focus{
		background: #4B4B4B;
	}

	/*------------------------------
	BLOCS ASSOCIÉS
	--------------------------------*/
	.bloc-associate h5{
		padding: 0 20px;
		font-size: 2rem;
	}
	/*---------------------------------
	CONTACT
	----------------------------------*/
	.adresse{
		text-align: center;
		width: 100%;
	}
	.contact-form {
		margin: 20px 0;
		padding: 0;
		width: 100%;
	}
	.title-contact{
		font-size: 2rem;
		text-align: center;
	}

	.title-contact strong{
		font-size: 1.2rem;
	}

	.comments-tremplate label{
		font-size: 1rem;
	}
	.submit:hover{
		background: #75736f;
		border-color: #75736f;
	}
	/*------------------------------
	FOOTER
	--------------------------------*/
	#footer {
		margin: 20px 0 0;
	}
	.nav-footer li > a{
		font-size: 1rem;
		padding: 0 5px;
	}
	#footer .nav-footer-second{
		padding: 20px;
	}


}

/*------------------------------
800px
--------------------------------*/
@media screen and (max-width : 800px){
	/*------------------------------
	PARTENAIRES
	--------------------------------*/
	.partner-content > li{
		width: 50%;
	}
}

/*------------------------------
700px
--------------------------------*/
@media screen and (max-width : 700px){
/*------------------------------
NAVIGATION
--------------------------------*/
	.menu-header li > a {
    	font-size: 1.25rem;
    }
    .nav-footer li > a {
    	font-size: .9rem;
    }
/*------------------------------
SLIDER
--------------------------------*/
	.featured-content {
		position: absolute;
		top: 0px;
	}
	.featured-meta a {
		background-size: 8% auto;
		font-size: 1rem;
		width: 105px;
	}
	.rslides article {
		height: 175px;
	}
	.featured-content p {
		font-size: 1rem;
		line-height: 1.2;
		margin-top: 10px;
	}
/*------------------------------
ÉLÉMENTS
--------------------------------*/
	.home.page h1{
		font-size: 1.25rem
	}
	h3{
		font-size: 1.5rem;
	}
	h4{
		font-size: 1.8rem;
	}
	h2{
		font-size: 2rem;
	}
	.text h4{
		margin-bottom: 20px;
	}
	.text p {
		font-size: .92rem;
		margin-top: 20px;
	}
	.text strong {
		font-size: 1.5rem;
		margin-bottom: -10px;
		display: block;
	}
	.home h1 {
		font-size: 1.5rem;
		line-height: 1.2;
		padding: 20px;
		margin: 0;
	}
	a.submit {
		margin: 0px auto;
		display: block;
		float: none;
		text-align: center;
		width: 80%;
	}
	.submit-block {
		width: 100%;
	}
}
/*------------------------------
650px
--------------------------------*/
@media screen and (max-width : 650px){
	.featured-content-profil{
		padding: 0;
	}
	.navInner.navThin {
		height: 50px;
	}
	.menu-header li > a {
		font-size: 1rem;
		padding: 0 5px;
	}
	.entry aside {
		opacity: 0;
		height: 260px;
		padding: 0;
	}
	.entry-content{
		position: relative;
		height: 392px;
		top: 30px;
		margin-bottom: 30px;
	}
	#candidats{
		height: 230px;
	}
	.submit-button {
		top: 67px;
	}
	.submit-block .obligatory {
	float: left;
	position: relative;
	top: -25px;
	left: 45px;
	}

	/*------------------------------
	PROFIL
	--------------------------------*/
	.cv-content{
		width: 100%;
	}
	.cv-content-inner {
		padding: 10px;
	}
	.cv h2{
		font-size: 2rem;
	}
	.cv h3{
		font-size: 1.25rem;
	}
	.ref li {
    	font-size: 1rem;
	}
	.tabs li a {
		text-indent: -999em;
		display: block;
		direction: ltr;
		text-align: initial;
		background-position: 50% center;
	}
	.featured p.maj{
		font-size: .85rem;
		padding: 0;
	}
	.left-col,
	.righ-col{
		float: none;
	}
	.pres .left-col,
	.pres .right-col,
	.competences .left-col,
	.competences .right-col,
	.quest .left-col,
	.quest .right-col,
	.coord .left-col,
	.coord .right-col,
	.docs .left-col,
	.docs .right-col{
		width: 100%;
	}
	.quest .right-col{
		margin-top: 50px;
	}
	legend{
		float: left;
		width: 100%;
		font-size: 0.8rem;
	}

}
/*------------------------------
600px
--------------------------------*/
@media screen and (max-width : 600px){
	/*------------------------------
	NAVIGATION
	--------------------------------*/
	.logo{
		width: 50%;
	}
	.menu-header-container{
		float: none;
		width: auto;
	}
	.menu-header{
		transform: translateY(-250px);
	}
	.menu-header.navOn{
		transform: translateY(100px);
	}
	.navThin .menu-header{
		transform: translateY(-250px);
	}
	.navThin .menu-header.navOn{
		transform: translateY(50px);
	}
	.menu-header li{
		border-bottom: 1px solid #eeeeee;
		width: 100%;
	}
	.menu-header li > a{
		border: none;
		line-height: 40px;
	}
	.menu-header li > a::before{
		background: none;
	}
	.btn_up{
		background-size: 80%;
		bottom: 0;
		height: 40px;
		width: 40px;
	}
	.breadcrumbs{
		width: 100%;
	}
	/*------------------------------
	SLIDER
	--------------------------------*/
	.featured-slider{
		height: 355px;
		padding: 0;
	}
	.rslides article{
		height: auto;
	}
	.rslides li{
		max-height: 100%;
	}
	.featured-content{
		position: relative;
		float: left;
		top: -4px;
		width: 100%;
	}
	.featured-content p{
		font-size: 1rem;
	}
	.featured-meta a {
		background-size: 8% auto;
		font-size: 1rem;
		width: 105px;
	}
	.rslides_tabs{
		display: none;
	}
	/*------------------------------
	ELEMENTS
	--------------------------------*/
	h3{
		font-size: 1.45rem;
	}
	h4{
		font-size: 1.90rem;
	}
	h2, .page h1 {
		font-size: 1.75rem;
		line-height: 1;
	}
	.home h1{
		float: none;
		font-size: 1.5rem;
		margin: 0 0 15px !important;
		padding-top: 0;
		position: absolute;
		top: 0;
	}
	h1 strong{
		font-size: 2rem;
	}
	.text h4{
		margin: 0 0 45px;
	}
	.featured p,
	.tab-cell li,
	.list-caract li{
		font-size: .85rem;
	}

	/*------------------------------
	STRUCTURE
	--------------------------------*/
	.entry{
		width: 100%;
	}
	.entry .text {
		background-position: 50% 95%;
		background-size: 6% auto;
		height: 100%;
		padding-bottom: 60px;
	}
	.entry aside {
		opacity: 0;
		height: 270px;
		padding: 0;
	}
	.text {
		height: auto;
		opacity: 1;
		padding: 10px;
	}
	.text p{
		margin: 0;
	}
	#candidats{
		border: none;
		height: 260px;
	}
	.featured-profil-content{
		position: relative;
	}
	.featured-profil-content h2{
		margin: 0;
	}
	.entry-content{
		height: 1109px;
		top: 255px;
	}
	.nav-footer{
		display: block;
	}
	.nav-footer li {
		margin: auto;
		width: 50%;
		float: left;
	}
	.nav-footer li > a {
		padding: 0px 5px;
		font-size: 0.8rem;
	}
	.signature {
		float: left;
		position: static;
		margin: 10px 0 0;
	}
	.intro-profil .wrapper {
		padding: 0;
	}

	/*------------------------------
	FORMULAIRES
	--------------------------------*/
	.comments-template label,
	.comments-template input,
	.comments-template textarea {
		width: 100%;
	}
	.comments-template textarea{
		height: 350px;
	}
	.captcha .wpcf7-quiz-label {
		height: auto;
		display: block;
		text-align: center;
		width: 100%;
	}
	input#captcha-block {
		top: 72px;
	}
	.submit-button {
		margin: 0px;
		position: relative;
		top: 67px;
	}
	.champs {
		position: relative;
		left: 0;
		top: 35px;
		margin: 0 !important;
		width: 100%;
	}
	.submit-block .obligatory {
		float: left;
		position: relative;
		top: -25px;
		left: 112px;
	}
	.comments-template input.submit{
		width: 48%;
		padding: 0;
		position: absolute;
		right: 0;
	}
	.comments-template {
		padding-bottom: 20px;
	}
	label,
	.captcha .wpcf7-quiz-label{
		font-size: 1rem;
	}
	/*------------------------------
	PROFIL
	--------------------------------*/
	.tabs li a{
		background-size: 50%
	}
	.tabs li a.tab3{
		background-size: 62%;
	}
	a.btn.edit, a.btn.share {
		background-size: 12%;
	}
	.portrait {
		width: 30%;
		float: none;
		margin: 0 auto;
	}
	.cv-text{
		margin-top: 10px;
		width: 100%;
	}
	.page .cv h1 strong{
		font-size: 2.5rem;
		margin: 0;
	}
	.cv h2{
		font-size: 1.25rem;
	}
	.cv h3{
		font-size: 1rem;
	}
	.cv h2,
	.cv h3{
		text-align: center;
	}
	.entryCandidats{
		margin: 1% 0;
	}
	.ref {
		margin: 0;
		float: right;
		width: 100%;
		margin-top: 10px;
		border: none;
	}
	.ref li {
		font-size: .85rem;
		line-height: 30px;
		text-align: center;
		width: 100%;
		display: block;
	}
	.ref li:first-child{
		border-bottom: 1px dashed #8c8c8c;
		border-top: 1px dashed #8c8c8c;
	}
}
/*------------------------------
500px
--------------------------------*/
@media screen and (max-width : 500px){
	.navInner.navThin {
		height: 60px;
	}
	.entry-content{
		top: 190px;
	}
	.entry .text {
	    background-position: 50% 90%;
	    background-size: 4% auto;
    }
    .page-historique .featured p,
	.page-deontologie .featured p{
		    -moz-columns: 1 auto;
			-webkit-columns: 1 auto;
			-ms-columns: 1 auto;
			-o-columns: 1 auto;
	}
	.page-historique h3,
	.page-deontologie h3{
		font-size: 1.5rem;
	}
	.submit-button {
		top: 35px;
	}
	input#captcha-block {
		top: 46px;
	}
	.bdd {
		text-align: center;
	}
	.scop{
		margin: 0px auto;
	}
	.signature{
		width: 100%;
		text-align: center;
	}
}
/*------------------------------
400px
--------------------------------*/
@media screen and (max-width : 400px){
	.entry{
		width: 100%;
	}
	.entry .text {
		background-position: 50% 95%;
		background-size: 6% auto;
		padding-bottom: 60px;
	}
	.entry aside {
		opacity: 0;
		height: 270px;
		padding: 0;
	}
	.text {
		height: auto;
		opacity: 1;
		padding: 10px;
	}
	.text p{
		margin: 0;
	}
	.submit-block .obligatory {
		left: 112px;
	}
	#candidats{
		border: none;
		height: 260px;
	}
	.featured-profil-content{
		position: relative;
	}
	.featured-profil-content h2{
		margin: 0;
	}
	.entry-content{
		top: 255px;
	}
	.nav-footer{
		display: block;
	}
	.nav-footer li {
		margin: auto;
		width: 50%;
		float: left;
	}
	.nav-footer li > a {
		padding: 0px 5px;
		font-size: 0.8rem;
	}
	.signature {
		float: left;
		position: static;
		margin: 10px 0 0;
	}
	.home .featured-content-contact {
		clear: both;
		padding-top: 45px;
		background: #FFFFFF;
	}
	.image-featured {
		background: none;
		padding: 0 20px 20px 20px;
		height: auto;
		overflow: auto;
	}
	.page .image-featured h1{
		background: rgba(0, 0, 0, 0) url("../images/svg/icons-profils-blc.svg") no-repeat 0 0;
		background-size: 78px auto;
		background-position: 0 5px;
		font-size: 2.6rem;
		padding-left: 95px;
	}
	.image-featured ul{
		padding-left: 80px;
	}
	.image-featured li{
		font-size: 1.15rem;
	}
	.featured p{
		margin-bottom: 5px;
	}
	.featured p:last-child{
		margin-bottom: 0;
	}
	.download-content, .log-content{
		width: 100%;
	}
	/*------------------------------
	PARTENAIRES
	--------------------------------*/
	.partner-content > li{
		width: 100%;
	}
}

/*------------------------------
360px
--------------------------------*/
@media screen and (max-width : 360px){
	.entry-content{
		top: 275px;
	}

	label, .captcha .wpcf7-quiz-label {
		font-size: .85rem;
	}
}