/* -------------------------------- 

Header - not needed in production

-------------------------------- */
.cd-main-header {
    height: 170px;
    line-height: 170px;
    text-align: center;
}
.cd-main-header h1 {
    color: #ffffff;
    font-weight: 300;
    font-size: 2rem;
}
/*@media only screen and (min-width: 1024px) {
    .cd-main-header {
        height: 220px;
        line-height: 220px;
    }
    .cd-main-header h1 {
        font-size: 2.6rem;
    }
}*/

/* -------------------------------- 

Pricing tables 

-------------------------------- */
.cd-pricing {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.cd-pricing > li {
    position: relative;
    margin: 0 auto 2.5em;
    background-color: #ffffff;
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 0;
}
.cd-pricing > li:last-of-type {
    margin-right: 0;
}
.cd-pricing > li.empty-box {
    box-shadow: none;
}
.cd-pricing > li.empty-box::after {
    /* placeholder visible when .cd-form is open - in this case same color of the background */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f222b;
}
.cd-pricing-features p {
    font-size: 1.25rem;
    text-align: left;
    margin: 30px 0 0;
    padding-left: 15px;
    position: relative;
    color: #E3382C;
}
.cd-pricing-features p::before {
    content: "";
    background: url("../images/svg/fleche-bullet.svg") no-repeat center center;
    width: 13px;
    height: 35px;
    display: block;
    position: absolute;
    top: -5px;
    left: -10px;
}
.cd-pricing > li {
    background: #eeeeee none repeat scroll 0 0;
    display: flex;
    min-height: 235px;
    margin-bottom: 30px;
    position: relative;
    width: 49%;
}
.abo2.abo,
.abo4.abo{
    margin-right: 0;
}
.cd-pricing-header1,
.cd-pricing-header2{
    float: left;
}
.cd-pricing-header3,
.cd-pricing-header4{
    float: right;
}

[class*="cd-pricing-header"] {
    background-color: #64c1d1;
    color: #ffffff;
    padding: 15px;
    width: 30%;
}
.cd-pricing li.abo5{
    width: 100%;
    min-height: 115px;
}
.abo5 .cd-pricing-header5{
    background-color: #b2b2b2;
    width: 100%;
}
.abo5 .cd-pricing-footer{
    bottom: 25px;
    left: 0;
    right: -35%;   
}
[class*="cd-pricing-header"] h2, [class*="cd-pricing-header"] .cd-price {
    line-height: 1;
}
[class*="cd-pricing-header"] h2 {
    border: medium none;
    color: #fff;
    font-family: "Titillium Web",sans-serif;
    font-size: 2rem;
    margin: 0 0 5px;
}
[class*="cd-pricing-header"] .cd-price {
    display: inline-block;
    font-weight: bold;
}
[class*="cd-pricing-header"] .cd-price::after {
    clear: both;
    content: "";
    display: table;
}
[class*="cd-pricing-header"] span {
    float: left;
    font-family: "Titillium Web",sans-serif;
    font-size: 3rem;
}
[class*="cd-pricing-header"] span:nth-of-type(2) {
    color: #c1cfa2;
}
[class*="cd-pricing-header"] span:nth-of-type(2)::before {
    content: '/';
}
.cd-pricing-features {
    padding: 40px;
    width: 70%;
}
.cd-pricing-features li {
    line-height: 1.5;
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
    text-align: left;
}
.cd-pricing-features li:before{
    content: "";
    background: url('../images/svg/check-mark.svg') no-repeat center center;
    position: absolute;
    height: 15px;
    top: 5px;
    left: -5px;
    width: 15px;
}
.cd-pricing-features em {
    position: relative;
    padding-left: 28px;
}
.cd-pricing-features em::before {
    /* this is the icon (check or cross) next to the plan feature */
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    background: url(../img/cd-icons-plan.svg) no-repeat -24px 0;
}
.cd-pricing-features .available em::before {
    background-position: 0 0;
}

.cd-pricing-footer {
    position: absolute;
    bottom: 40px;
    left: 45px;
    padding: 0;
}
.cd-pricing-footer a {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.empty-box .cd-pricing-footer a {
    /* scale down to 0 the action button when sign up form is visible */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

/* -------------------------------- 

Form 

-------------------------------- */
.cd-form {
    background-color: #ffffff;
    height: 540px !important;
    position: fixed;
    top: 50px !important;
    visibility: hidden;
    z-index: 600;
    /**/
    -webkit-transition: visibility 0s 0.8s;
    -moz-transition: visibility 0s 0.8s;
    transition: visibility 0s 0.8s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-form::before {
    /* never visible - this is used in jQuery to check the current MQ */
    display: none;
    content: 'mobile';
}
.cd-form::after {
    /* gradient visible at the bottom of the form - to indicate it's possible to scroll */
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 100%;
    border-radius: 0 0 .25em .25em;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(bottom, white, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to top,white, rgba(255, 255, 255, 0));
    pointer-events: none;
}
.cd-form .cd-plan-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    width: 210px!important;
}
.cd-form .cd-plan-info > * {
    width: 100%;
}
.cd-form .cd-pricing-features {
    position: relative;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-form .cd-pricing-features::before {
    /* this is the layer which covers the .cd-pricing-features when the form is open - visible only on desktop */
    content: '';
    position: absolute;
    /* fix a bug while animating - 1px white space visible */
    top: -5px;
    left: 0;
    height: calc(100% + 5px);
    width: 100%;
    background-color: #64C1D1;
    will-change: transform;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: -webkit-transform 0.6s 0.2s;
    -moz-transition: -moz-transform 0.6s 0.2s;
    transition: transform 0.6s 0.2s;
}
.cd-form .cd-pricing-footer {
    display: none;
}
.cd-form .cd-more-info {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 210px;
    bottom: 0;
    left: 0;
    padding: 140px 20px 0;
    background-color: #f2f2f2;
    border-radius: .25em 0 0 .25em;
    /* hidden on mobile */
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.cd-form .cd-more-info p {
    font-size: 1rem;
    color: #999999;
    line-height: 1.2;
}
.cd-form .title-contact strong{
    font-size: inherit;
}
.cd-form form {
    height: 100%;
    overflow: hidden;
    padding: 0 0 0 210px;
}
.cd-form form.is-scrollable {
    overflow-y: auto;
}
.cd-form fieldset {
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}
.cd-form .payment-gateway{
    margin-top: 20px;
}
.cd-form fieldset > div,
.cd-form fieldset .cd-credit-card > div {
    padding-top: 16px;
}
.cd-form fieldset > .cd-credit-card {
    padding-top: 0;
}
.cd-form fieldset div::after {
    clear: both;
    content: "";
    display: table;
}
.cd-form fieldset:last-of-type > div {
    padding-top: 0;
}
.cd-form .half-width{
    width: 48%;
}
.cd-form .third-width{
    width: 23%;
}
.cd-form .third-width:nth-child(1){
    width: 43%;
}
.third-width.credit-date{
    width: 26%;
}
.cd-form .half-width,
.cd-form .third-width{
    float: left;
    margin-right: 4%;
}
.cd-form .half-width:nth-of-type(2n) {
    margin-right: 0px;
}
.cd-form legend {
    width: 100%;
    font-size: 2rem;
    line-height: 1.2;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.cd-form input[type="radio"],
.cd-form label {
    cursor: pointer;
}
.cd-form label {
    color: #b2b2b2;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}
.cd-form input[type="radio"] + label {
    color: rgb(27, 25, 26);
    display: block;
    width: auto;
    line-height: 20px;
    padding: 0px 5px;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"],
.cd-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 45px;
    border: 2px solid #e5e5e5;
    border-radius: 0;
    background: transparent;
}
.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form input[type="password"]:focus,
.cd-form select:focus {
    outline: none;
    border-color: #64C1D1;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"] {
    width: 100%;
    display: block;
    margin-top: 6px;
    padding: 0 16px;
}
.cd-form select {
    padding: 0 25px 0 15px;
    font-size: 1.2rem;
}
.cd-form select::-ms-expand {
    /* remove default arrows in IE */
    display: none;
}
.cd-form .cd-credit-card b {
    display: block;
}
.cd-form .cd-credit-card p {
    padding-bottom: 0.5em;
}
.cd-form .cd-credit-card p:last-of-type {
    margin: 0;
}
.cd-form .cd-select {
    display: inline-block;
    position: relative;
}
.cd-form .cd-select::after {
    /* arrow icons */
    content: '';
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    height: 6px;
    width: 10px;
    background: url(../images/svg/cd-icon-arrow.svg) no-repeat center center;
    pointer-events: none;
}
.cd-form .cd-close {
    /* 'X' close icon */
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background: url(../images/svg/cd-icon-close.svg) no-repeat center center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}
.cd-form.is-visible {
    /* form is visible */
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}
.cd-form.is-visible .cd-pricing-features {
    /* desktop only */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.6s 0s, visibility 0s 0.8s;
    -moz-transition: opacity 0.6s 0s, visibility 0s 0.8s;
    transition: opacity 0.6s 0s, visibility 0s 0.8s;
}
.cd-form.is-visible form {
    padding: 20px 20px 20px 210px;
    -webkit-overflow-scrolling: touch;
}
.cd-form fieldset{
    padding: 0 0 0 3%;
}
.cd-form.is-visible fieldset {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0.6s, opacity 0.3s 0.6s;
    -moz-transition: -moz-transform 0.3s 0.6s, opacity 0.3s 0.6s;
    transition: transform 0.3s 0.6s, opacity 0.3s 0.6s;
}
.cd-form.is-visible fieldset:nth-of-type(2) {
    /* delay second fieldset animation */
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-form.is-visible fieldset:nth-of-type(3) {
    /* delay second fieldset animation */
    -webkit-transition: -webkit-transform 0.3s 0.8s, opacity 0.3s 0.8s;
    -moz-transition: -moz-transform 0.3s 0.8s, opacity 0.3s 0.8s;
    transition: transform 0.3s 0.8s, opacity 0.3s 0.8s;
}
.cd-form.is-visible .cd-close {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s 0.8s;
    -moz-transition: -moz-transform 0.3s 0.8s;
    transition: transform 0.3s 0.8s;
}
.cd-payment-gateways li{
    display: inline-block;
}
/* -------------------------------- 

Buttons 

-------------------------------- */
.cd-pricing-footer a, .cd-form input[type="submit"] {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
}

.cd-pricing-footer a {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    /**/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cd-pricing-footer a:hover{
    background: #E1312C;
    border-color: #E1312C;
}

.cd-form input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    border: 2px solid #64C1D1;
    color: #64C1D1;
    cursor: pointer;
    margin: 20px 0 0;
}
.cd-form input[type="submit"]:hover,
.cd-form input[type="submit"]:active,
.cd-form input[type="submit"]:focus{
    color: #FFFFFF;
    background-color: #E1312C;
    border: 1px solid #E1312C;
}
/* -------------------------------- 

Shadow layer 

-------------------------------- */
.cd-overlay {
    /* shadow layer visible when navigation is open */
    position: fixed;
    z-index: 401;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(15, 34, 43, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
    -moz-transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
    transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
}
.cd-overlay.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.8s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.8s 0s, visibility 0s 0s;
    transition: opacity 0.8s 0s, visibility 0s 0s;
}