/*------------------------------
ENTREPRISES
--------------------------------*/
.page-entreprises .featured,
.page-id-430 .featured{
	background: #64c1d1;
}
.page-entreprises .log-content{
	border-color: #64c1d1;
}
.page-entreprises .download-content{
	background: #64c1d1;
}
.page-id-430 .featured-log {
  padding: 0 40px 40px;
}
/*------------------------------
CANDIDATS
--------------------------------*/
.page-candidats .featured{
	background: #91B841;
}
.page-candidats .image-featured{
	background-position: 0 46%;
}
.page-candidats .log-content{
	border-color: #91B841;
}
.page-candidats .download-content{
	background: #91B841;
}
.embed-container iframe{
	height: 320px;
	width: 100%;
}
/*------------------------------
OPERATEURS
--------------------------------*/
.page-operateurs .featured{
	background: #813B71;
}
.page-operateurs .image-featured{
	background-position: 0 95%;
	background-size: 280px;
}
.page-operateurs .log-content{
	border-color: #813B71;
}
.page-operateurs .download-content{
	background: #813B71;
}
/*------------------------------
COMMUN
--------------------------------*/
.image-featured{
	background: rgba(0, 0, 0, 0) url("../images/svg/icons-profils-blc.svg") no-repeat scroll 0 0 / 300px auto;
	height: 290px;
	margin: 20px auto 0;
	padding: 0 0 0 350px;
	position: relative;
	width: 81.35%;
}
.image-featured:after{
	background: #FFFFFF;
	bottom: 0;
	content: '';
	height: 40px;
	left: 0;
	position: absolute;
	width: 100%;
	
}
.text-featured{
	font-size: 1.25rem;
	padding-top: 40px;
}

.page .image-featured h1{
	border: none;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-size: 6rem;
	float: left;
	line-height: 1;
	text-align: left;
	text-transform: none;
	margin: 0;
	width: 100%;
}
.image-featured ul{
	margin-top: 10px;
	float:left; 
}
.image-featured li{
	color: #fff;
	font-size: 2.25rem;
	float: left;
	line-height: 1;
	width: 100%;
}
.image-featured li::before{
	content: ">";
	color: #E1312C;
	padding-right: 5px;
}
.featured-log{
	padding: 40px;
	display: flex;
	flex-direction: row;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-ms-display: flex;
	-ms-flex-direction : row;
}
.download-content,
.log-content{
	padding: 40px;
	width: 48%;
}
.download-content{
	margin-right: auto;
}
.download-content p{
	color: #fff;
	font-size: 3rem;
	text-align: center;
}
.download-content p > a{
	color: #fff;
	font-size: 3rem;
	text-decoration: underline;
}
.log-content{
	border: 10px solid;
	margin-left: auto;
}
a.flyer{
	color: #FFF;
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 4rem;
	font-weight: 700;
	margin: 20px auto 0;
	text-align: center;
}
a.flyer::after{
	content: "";
	background: url('../images/svg/dnw-fleche.svg') no-repeat 0 0;
	display: block;
	height: 24px;
	margin: 0 auto;
	opacity: .5;
	padding: 10px 0 0;
	width: 40px;
	/**/
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;	
}
a.flyer:hover::after{
	opacity: 1;
	/**/
	-moz-transform: translateX(0px) translateY(15px);
	-webkit-transform: translateX(0px) translateY(15px);
	-o-transform: translateX(0px) translateY(15px);
	-ms-transform: translateX(0px) translateY(15px);
	transform: translateX(0px) translateY(15px);
}
.page .log-content p{
	float: left;
	margin-bottom: 10px;
	width: 100%;
}
.page .log-content p.login-submit{
	margin-bottom: 0;
}
.page .log-content h2{
	border: none;
	font-family: "Titillium Web", sans-serif;
	font-size: 3rem;
	line-height: 1;
	margin: 0 0 70px;
	text-transform: none;
}
h2.log-inscription{
	font-family: "Titillium Web", sans-serif;
	font-size: 3rem;
	text-align: left;
	text-transform: none;
	position: relative;
}
.btn-accordeon{
	direction: ltr;
	display: block;
	height: 75px;
	line-height: 75px;
	position: absolute;
	right: 0;
	text-indent: -999rem;
	top: 0;
	width: 40px;
}
.btn-accordeon::before{
	content: '';
	background: #e1312c none repeat scroll 0 0;
	display: block;
	height: 4px;
	position: absolute;
	top: 50%;
	width: 40px;
	/**/
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	
	/**/
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.btn-accordeon.iconOn::before{
		/**/
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.btn-accordeon-icon{
	background: #e1312c none repeat scroll 0 0;
	display: block;
	height: 4px;
	position: relative;
	top: 50%;
}
