/*------------------------------
< 1440PX
--------------------------------*/
@media screen and (max-width : 1440px) {

    /*------------------------------
    STRUCTURE
    --------------------------------*/

    /*------------------------------
    NAVIGATION
    --------------------------------*/
    .navInner{
        width: 19%;
    }
    .menu-header li > a{
        font-size: 22px;
        font-size: 1.35rem;
    }
    .nav-footer li > a {
        font-size: 16px;
        font-size: 1rem;
        padding: 0 36px;
    }
    .search-field:focus {
        width: 600px;
    }

    /*------------------------------
    SLIDER
    --------------------------------*/
    .rslides li{
        max-height: 323px;
    }
    .slideTitle {
        bottom: 0;
        height: 16.5rem;
        width: 500px;
    }
    .slideTitle a {
        bottom: -10px;
        left: 465px;
    }
    .rslides_tabs {
        bottom: -70px;
        height: auto;
        margin: 32px;
        padding: 0;
    }
    .rslides1_s3{
        margin: 0;
    }
    .featured-meta a {
        background-size: 12% auto;
        font-size: 1.5rem;
        width: 160px;
    }
    /*---------------------------------
    ENTRY
    ----------------------------------*/




    /*------------------------------
    ÉLÉMENTS
    --------------------------------*/		
    h1 {
        font-size: 2rem;
        line-height: 1.5;
    }
    .page .image-featured h1{
        font-size: 64px;
        font-size: 4rem;
    }
    h2, .page h1 {
        font-size: 3rem;
        line-height: 45px;
        margin: 15px 0;
    }
    #consult h2{
        margin-top:2px;
    }
    h3 {
        font-size: 32px;
        font-size: 2rem;
        line-height: 1;
    }
    h4 {
        font-size: 48px; 
        font-size: 3rem;
        line-height: 1;
    }
    h5 {
        font-size: 56px;
        font-size:3.5rem;	
    }
    h6 {
        font-size: 25px;
        font-size:1.6rem;
    }
    .featured-content p{
        font-size: 24px;
        font-size: 1.5rem;
    }
    .text strong{
        font-size: 32px;
        font-size: 2rem;
    }
    .text p {
        font-size: 18px;
        font-size: 1.15rem;
    }
    .slideTitle p{
        font-size: 32px;
        font-size: 2rem;
    }	
    .maj{
        font-size: 20px;
        font-size: 1.25rem;
    }

    p, .tab-cell li, .list-caract li {
        font-size: 18px;
        font-size: 1.25rem;
    }
    #nav-bottom-list li a {
        font-size: 19px;
        font-size: 1.2rem;
    }
    .title-contact{
        font-size: 32px;
        font-size: 2rem;
    }
    .title-contact strong{
        font-size: 18px;
        font-size: 1.2rem;
    }
    .comments-tremplate label{
        font-size: 16px;
        font-size: 1rem;
    }
    .image-featured li{
        font-size: 18px;
        font-size: 1.8rem;
    }
    h1.marge{
        margin: 1.5% 0;
    }
    /*------------------------------
    PROFILS
    --------------------------------*/
    .download-content p,
    .download-content p > a,
    .page .log-content h2,
    .page .log-inscription h2{
        font-size: 32px;
        font-size: 2rem;
    }
    .download-content,
    .log-content{
        padding: 20px;
    }
    /*------------------------------
    FORM
    --------------------------------*/
    .page .log-content label{
        width: 35%;
    }
    .page .log-content input{
        width: 62%;
    }

    .comments-template label{
        width: 20%;
    }
    .comments-template input,
    .comments-template textarea{
        width: 80%;
    }
    .submit-block{
        width: 80%;
    }
    .captcha .wpcf7-quiz-label{
        font-size: 18px;
        font-size: 1.25rem;
    }
    input#captcha-block{
        top: 35px;
    }
    #champs{
        width: 80%;
    }
    /*---------------------------------
            ENTREPRISES
    ----------------------------------*/

    .entreprises .legend h4{font-size: 8rem;}

    .entreprises .slideTitle{width: 41rem;}

    .entreprises .rslides_tabs{width: 230px;}

    .entreprises #adresse{width: 25%;}

    .entreprises .contact-form{width: 72%;}


    /*---------------------------------
            ENTREPRISES ABONNÉES
    ----------------------------------*/
    .entreprises-abonnees #tabs li a {padding: 1.3rem 0;}

    .entreprises-abonnees #tabs li a.activate {padding: 0.85rem 0;}

    .entreprises-abonnees #tabs li a#firstonglet {padding: 1.3rem 0;}

    .entreprises-abonnees #tabs li a#firstonglet.activate {padding: 0.85rem 0;}

    #tabs-4 .modifier{position: relative;}

    #tabs-4 #ajout{
        left: 0;
        position: absolute;
        top: 40px;
        width: 100%;
    }

    .entreprises-abonnees .selection #portrait-title{
        width: 265px;
    }

    .voir-panier form{
        width: 750px;
    }

    /*---------------------------------
            CANDIDATS
    ----------------------------------*/
    .candidats #portrait-title {
        width: 41.5rem;
    }

    .candidats .comment-entreprise .contact-form,
    .candidats .comment-entreprise #adresse,
    .candidats .comment-entreprise #title-formulaire{
        float: left;
        width: 100%;
    }

    .candidats .comment-entreprise #title-formulaire{
        margin-top: 1rem;
    }

    .candidats .title-contact strong{
        margin-bottom: .4rem;
    }

    .candidats .contact-text-entreprise{
        font-size: 1rem;
    }

    .candidats .submit-block{
        margin-bottom: 2.5rem;
    }

    /*----------------------------------
            PROFIL
    ------------------------------------*/



    /*----------------------------------
            CONTACT
    ------------------------------------*/

    .contact-form{
        margin: 15px 0 0;
    }
    .obligatory{
        float: left;
    }
    .admin .title-contact{
        clear: both;
        float: left;
        margin: 35px 0 0;
    }	
    .title-contact strong {
        margin-bottom: 0;
    }
    .comments-tremplate textarea {
        height: 420px;
        resize: none;
    }
    .submit-button input{
        font-size: 2rem;
    }
    input{
        height: 45px;
    }

}

/*------------------------------
< 1280px
--------------------------------*/

@media screen and (max-width : 1280px){
    /*------------------------------
    SLIDER
    --------------------------------*/
    .rslides li{
        max-height: 284px;
    }
    /*------------------------------
    STRUCTURE
    --------------------------------*/
    .cv, .wrapper{
        width: 81.35%;
    }
    .tabs li a{
        font-size: 1rem;
    }
    /*------------------------------
    TABLE PRICE
    --------------------------------*/
    [class*="cd-pricing-header"]{
        width:35%;
    }
    .cd-pricing-footer{
        bottom: 35px;
        left: 15px;
    }
    .cd-pricing-features{
        padding: 20px 10px;
    }
    [class*="cd-pricing-header"] h2{
        font-size: 1.5rem;
    }
    [class*="cd-pricing-header"] span{
        font-size: 2rem;
    }
    .cd-pricing-features p:before{
        left: -3px;
    }
    .cd-pricing-features p{
        font-size: 1.15rem;
    }
}

/*------------------------------
< 1024px
--------------------------------*/

@media screen and (max-width : 1024px){
    /*------------------------------
    GÉNÉRAL
    --------------------------------*/
    body{
        position: relative;
    }
    main{
        overflow-x: hidden;
    }
    .wrapper {
        width: 100%;
        padding: 0;
    }

    .featured{
        padding-top: 140px; 
    }
    /*------------------------------
    ÉLÉMENTS
    --------------------------------*/
    h1 {
        float: left;
        font-size: 2.2rem;
        line-height: 1.5;
    }
    .home h1{
        float: none;
        font-size: 2rem;
        line-height: 1.35;
        padding: 20px;
        text-align: center;
    }
    h2, .page h1 {
        font-size: 2.5rem;
        margin: 20px 0;
    }	
    h3{
        font-size: 2rem;
        line-height: 1;
    }
    h4{
        font-size: 3rem;
        line-height: 1;
    }
    h5{
        font-size:3.5rem;
    }
    h6{
        font-size:2.5rem;
    }
    .text p {
        font-size: 1rem;
    }
    .text strong{
        font-size: 1.5rem;
    }
    .featured-content p {
        font-size: 1.25rem;
    }
    .slideTitle p{
        font-size: 2rem;
    }	
    #ref li {
        font-size: 1.6rem;
    }	

    #tabs li a{
        font-size: 2rem;
    }

    .maj{
        font-size: 1.2rem
    }

    p, .tab-cell li, .list-caract li {
        font-size: 1.4rem;
    }

    #nav-bottom-list li a {
        font-size: 1.2rem
    }
    h1.marge{
        margin: 1.5% 0;
    }

    /*------------------------------
    HEADER
    --------------------------------*/

    header[role="banner"] {
        height: 9rem;
        overflow: hidden;
        position: fixed;
        width: 100%;
    }
    .search-field:focus {
        width: 680px;
    }
    /*------------------------------
    NAVIGATION
    --------------------------------*/
    .logo{
        height: 100px;
        margin: 0 0 0 20px;
        width: 25%;
    }
    nav.wrapper{
        padding: 0;
        position: relative;
    }
    .navInner{
        background: #fff none repeat scroll 0 0;
        height: 100px;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
    .navResponsive{
        background: #E1312C none repeat scroll 0 0;
        direction: ltr;
        display: block;
        height: 40px;
        overflow: hidden;
        position: fixed;
        right: 0;
        text-indent: -999em;
        top: 40px;
        width: 44px;
        z-index: 100;
    }
    .navResponsive::before,
    .navResponsive::after {
        background: #fff none repeat scroll 0 0;
        content: "";
        display: block;
        height: 4px;
        transition: all 0.25s ease-in-out 0s;
        width: 20px;
    }
    .navResponsive::before {
        margin: 10px auto 0;
    }
    .navResponsive::after {
        margin: 0 auto;
    }
    .menuBurger {
        background: #fff none repeat scroll 0 0;
        display: block;
        height: 4px;
        margin: 4px auto;
        padding: 0;
        width: 20px;
    }
    .closeIcon::before {
        transform: translateY(8px) rotate(-45deg);
    }
    .closeIcon::after {
        transform: translateY(-8px) rotate(45deg);
    }
    .closeIcon .menuBurger{
        opacity: 0;
    }
    .menu-header-container,
    .menu-entreprises-container,
    .menu-candidats-container,
    .menu-operateurs-container{
        background: #fff none repeat scroll 0 0;
        float: none;
        position: absolute;
        width: 100%;
        /**/
        -moz-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        /**/
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;

    }
    .navOn{
        -moz-transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -o-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);	
    }
    .menu-header{
        float: none;
        text-align: center;
    }
    .menu-header li > a {
        font-size: 1.5rem;
        line-height: 100px;
        padding: 0 10px;
    }
    /*------------------------------
    CONNEXION
    --------------------------------*/		
    #test-form, #modif-form{
        width: 80%;
    }
    /*------------------------------
    FORM	
    --------------------------------*/
    .comments-template {
        padding: 0 20px;
    }
    /*------------------------------
    POP-UP
    --------------------------------*/
    .mfp-close{font-size: 4rem;}

    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }


    /*------------------------------
    SLIDER
    --------------------------------*/
    .rslides_tabs{
        bottom: -25px;
    }
    .rslides li{
        max-height: 210px;
        width: 100%;
    }	
    .rslides article {
        height: 210px;
    }
    .featured-content{
        padding: 20px;
        width: 48%
    }
    .rslides_tabs{
        left: 39%;
        margin: 20px auto 0;
    }
    /*---------------------------------
            PROFILS
    ----------------------------------*/
    .entry .text {
        background-position: 50% 95%;
        background-size: 10% auto;
    }
    .featured-content-profil{
        background: #fff none repeat scroll 0 0;
        padding: 25px 0 0;
    }
    .smart{
        color: #75736F;
        display: block;
        margin: 0;
        text-transform: uppercase;
    }
    .entry{
        background: none;
    }
    .entry aside {
        opacity: 0;
        height: 325px;
    }	
    .text {
        height: 325px;
        opacity: 1;
        padding: 10px;
    }
    .text h4{
        background: rgba(0, 0, 0, 0) url("../images/svg/icons-profils-blc.svg") no-repeat scroll center 10px / 40px auto;
        height: 49px;
        margin: 0 0 45px;
        padding: 49px 0 0;
    }
    .text-candidats h4{
        background-position: center center;
    }
    .text-opérateurs h4{
        background-position: center bottom;
        height: 44px;
        padding: 44px 0 0;
    }
    /*---------------------------------
    ABONNEMENTS
    ----------------------------------*/	
    .cd-main-header {
        height: 220px;
        line-height: 220px;
    }
    .cd-main-header h1 {
        font-size: 2.6rem;
    }
    .cd-form .cd-credit-card p:nth-of-type(2) {
        width: 25%;
        margin-right: 4%;
    }
    .no-csstransitions .cd-form .cd-credit-card p:nth-of-type(2) {
        width: 48%;
        margin-right: 0;
    }
    .cd-form .cd-credit-card p:nth-of-type(3) {
        width: 19%;
        margin-right: 0;
    }
    /*---------------------------------
    CONTACT
    ----------------------------------*/
    .comments-tremplate{
        padding: 20px;
    }
    .adresse{
        text-align: center;
        width: 100%;
    }
    .contact-form{
        margin: 20px 0;
        padding: 0;
        width: 100%;
    }
    .title-contact{
        font-size: 2rem;
        text-align: center;
    }

    .title-contact strong{
        font-size: 1.2rem;
    }

    .comments-tremplate label{
        font-size: 1rem;
    }

    /*------------------------------
    FOOTER
    --------------------------------*/
    #footer {
        margin: 20px 0 0;
    }
    .nav-footer li > a{
        font-size: 1rem;
        padding: 0 5px;
    }
    #footer .nav-footer-second{
        padding: 20px;
    }
}

/*------------------------------
< 768px
--------------------------------*/
@media screen and (max-width : 768px){
    [class*="cd-pricing-header"] h2 {
        border: medium none;
        color: #fff;
        font-size: 2rem;
    }
    .cd-form::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
    .cd-form [class*="cd-pricing-header"] {
        border-radius: .25em 0 0 0;
    }
    .cd-form .cd-pricing-features {
        -webkit-transition: padding 0.3s 0.2s;
        -moz-transition: padding 0.3s 0.2s;
        transition: padding 0.3s 0.2s;
    }
    .cd-form .cd-more-info {
        display: block;
        opacity: 0;
    }
    .cd-form form {
        padding: 0 0 0 210px;
    }
    .cd-form .half-width {
        width: 48%;
        float: left;
        margin-right: 4%;
    }
    .cd-form .half-width:nth-of-type(2n) {
        margin-right: 0;
    }
    .cd-form input[type="submit"] {
        float: right;
    }
    .cd-form .cd-close {
        /* move close icon outside the form container */
        top: -40px;
        right: -5px;
    }
    .cd-form.is-visible .cd-pricing-features {
        padding-top: 0;
        opacity: 1;
        visibility: visible;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }
    .cd-form.is-visible .cd-pricing-features::before {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: -webkit-transform 0.4s 0s;
        -moz-transition: -moz-transform 0.4s 0s;
        transition: transform 0.4s 0s;
    }
    .cd-form.is-visible .cd-more-info {
        opacity: 1;
    }  
    .cd-pricing > li{
        width: 100%;
    }
    .image-featured{
        width: 100%;
    }
}