/*
Theme Name: Jobvideo
Theme URI: http://jobvideo.fr
Author: Jobvideo
Author URI: http://gribouillenet.fr/
Description: Thème réalisé pour Jobvideo par Gribouillenet©, tous droits réservés.
Version: 1.0
License: Tous droits réservés
License URI: license privée 
*/

/*------------------------------
DÉCLARATION UTF
--------------------------------*/
@charset "UTF-8";


/*------------------------------
IMPORT FEUILLES DE STYLE
--------------------------------*/

@import "login.css"; 
@import "elements.css";
@import "structure.css";
@import "form.css";
@import "pages.css";
@import "magnific-popup.css";
@import "navigation.css";
@import "abonnements.css";
@import "panier.css";
@import "responsive.css";


  

/*------------------------------
RESET HTML BODY
--------------------------------*/
*{
	color: #1b191a;
	border: 0;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-decoration: none;
	/**/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 400;
}
body {
	background: #e7e7e7;
	margin: 0;
	overflow-x: hidden;
}

/*------------------------------
CLEARFIX / BOX-SIZING
--------------------------------*/
 
 /*
* Clearfix: contain floats
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}


/*------------------------------
HTML 5
--------------------------------*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden] {
    display: none;
}

code,
kbd,
pre,
samp {
    font-family: 'Roboto', sans-serif;
    _font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img,
embed,
object,
video{
max-width: 100%;
height: auto;
}


.admin video{
float: left;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

svg:not(:root) {
    overflow: hidden;
}


/*------------------------------
LINKS
---------------------------------*/

a{
	color: #1B191A;
	text-decoration: none;	
	/**/
	-webkit-transition: color .45s ease-in-out;
	-moz-transition:  color .45s ease-in-out;
	-ms-transition: color .45s ease-in-out;
	-o-transition: color .45s ease-in-out;
	transition: color .45s ease-in-out;
}

a:active,
a:focus,
a:hover {
   outline: 0;
   text-decoration: none;   
}

/*------------------------------
LISTES
--------------------------------*/

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

li{
    list-style: none;
    list-style-image: none;
}